// font-family: 'Balqis', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// #E2AB3F
@import url('http://fonts.cdnfonts.com/css/balqis');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.header__container{
    &__nav{
        width: 100%;
        display: flex;
        padding: 40px 0;
        justify-content: space-around;
        position: fixed;
        transition: .3s;
        z-index: 10;
        &__ul{
            display: flex;
            width: 80%;
            &__li{
                &__link{
                    padding: 0 30px;
                    font-size: 20px;
                    color: #000;
                }
            }
        }
        .tel a{
            margin-left: 20px;
            color:#000;
        }
    }
}

#header{
    height: 1080px;
    background: url('../images/intro.jpg')no-repeat center center/cover;
    .container{
        width: 1100px;
        margin: 0 auto;
        .hero{
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            .zaga{
                display: flex;
                flex-direction: column;
                .h1{
                    margin-top: 220px;
                    font-family: 'Balqis', sans-serif;
                    font-size: 230px;
                    font-weight: 400;
                }
                .h2{
                    font-family: 'Balqis', sans-serif;
                    font-size: 50px;
                    width: 430px;
                    font-weight: 200;
                    margin-left: 447px;
                    margin-top: -74px;
                }
            }
        }
    }
}

.change-color {
    border-bottom: 0.5px solid #EDEDED;
}

#slaider{
    margin: 0 auto;
    max-width: 1440px;
    .Slaider__Zag{
    font-family: 'Balqis', sans-serif;
    margin: 60px 0 60px 230px;
    color:#E2AB3F;
    font-size: 120px;
    }
    .Slaider__pot{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        margin: -95px 0px 80px 455px;
    }
    .Slaider__content{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 150px;
        .img__slaider{
            position: relative;
        }
        .imgSlaiber{
            z-index: 0;
            max-width: 75%;
            min-height:650px ;
        }
        .img__back , .img__next{
            position: absolute;
            top: 270px;
            z-index: 1;
            transition: .3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        .img__back{
            left: 0px;
            top: 270px;
        }
        .img__next{
            right: 245px;
        }
        .Slaider__text{
            max-width: 545px;
            font-size: 18px;
            margin: 40px 0px 50px -200px;
        }
    }
}

#slaider__two{
    margin: 0 auto;
    max-width: 1440px;
    .content__slaider{
        display: flex;
        .text-two{
            width: 720px;
            margin-right: 70px;
            .zag {
                color:#E2AB3F;
                font-family: 'Balqis', sans-serif;
                margin: 20px 0 60px 230px;
                font-size: 96px;
            }
            .link{
                transition: .3s;
                background-color: transparent;
                cursor: pointer;
                &:hover {
                color: #fff;
                background:#E2AB3F;
                }
            }
            
            .slaider_two_text{
                width: 296px;
                margin: 0 100px 0px 250px;
            }
            .two_slaid{
                width: 720px;
            }
            .two_num{
                margin: 20px 0 10px 250px;
            }
            .pot{
                font-size: 20px;
                margin: -95px 0px 70px 472px;
            }
            // .slaider_two_text{
            //     width: 175px;
            // }
            .dey_two,.dey_twoo{
                width: 195px;
            }
            .dey_twoo{
                margin-bottom: 50px;
            }
        }
        .link{
            margin-left: 250px;
            padding: 10px 30px;
            border-radius:5px;
            color: black;
            border: 2px #E2AB3F solid;
        }
        .two_slaid{

            .Slaider__two{
                position: relative;
                .slaid{
                    z-index: 0;
                    max-width: 100%;;
                }
                .img__back__two, .img__next__two {
                    top: 400px;
                    z-index: 1;
                    position: absolute;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .img__back__two{
                    left: 20px;
                }
                .img__next__two{
                    right:20px;
                }
            }
        }
    }
}

#SultanCanve{
    .container{
        max-width: 1100px;
        margin: 0 auto;
        h2{
            font-family: 'Balqis', sans-serif;
            font-size: 96px;
            color: #E2AB3F;
            margin: 100px 0px 0px 0px;
        }
        .Canve__p{
            margin: -30px 0px 100px 130px;
            font-size: 24px;
            font-weight: 300;
        }
        .SultanCanve__box{
            display: flex;
            .SultanCanve__box-1{
                height: 600px;
                width: 500px;
                background:url('../images/hotel1.png') no-repeat center center/cover;
            }
            .SultanCanve__box-2{
                height: 600px;
                padding-left: 44px;
                width: 700px;
                .Cave__text{
                    margin: 10px 20px 20px 50px;
                    width: 493px;
                    height: 73px;
                    font-size: 15px;

                }
                .Sultan__text{
                    margin: 10px 20px 20px 50px;
                    width: 493px;
                    height: 73px;
                    font-size: 15px;
                }
            }

            .Cave__box{
                width: 493px;
                margin-left: 51px;
                // padding-top: 50px;
                .Canve__block{
                    display: flex;
                    justify-content: space-between;
                    .block-1 ,.block-2 {
                        width: 230px;
                    }
                }
                .canve{
                    margin-top: 30px;
                }
            }


        }
    }
}

.container{
    width: 1100px;
    margin: auto;
    height: 700px;
}
#service{
    position: relative;
    margin-top: 200px;
    h2{
        color: #E2AB3F;
        font-size: 90px;
        font-family: 'Balqis', sans-serif;
    }
    #ppp{
        font-size: 20px;
        margin-left: 90px;
        margin-top: -30px;
        margin-bottom: 30px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    h3{
        font-size: 20px;
        margin-left: 0px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text{
        display: flex;
        width: 500px;
        flex-direction: column;
        font-style: italic;
        p{
            width: 500px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 15px;
            margin-left: 0;
            text-align: left;
        }
        .p{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .text2{
        display: flex;
        flex-direction: column;
        margin-left: 530px;
        position: absolute;
        top: 160px;
        
        p{
            width: 300px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 15px;
            margin-left: 0;
            text-align: left;
            margin-bottom: 10px;
        }
    }
    .w{
        width: 300px;
        height: 400px;
        margin-left: 100px;
        position: absolute;
        right: 120px;
        top: 50px;
    }
}

#price {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .price__left {
            .price__title {
                div {
                    text-align: end;
                    position: relative;
                    h2 {
                        color: #E2AB3F;
                        font-size: 90px;
                        font-family: 'Balqis', sans-serif;
                    }
                    p {
                        position: absolute;
                        right: -10px;
                        bottom: 5px;
                    }
                }
            }
            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin: 40px 0 30px 0;
                }
                input {
                    padding: 10px 20px;
                    width: 270px;
                    margin: 5px 0;
                    border: #E2AB3F 2px solid;
                    border-radius: 5px;
                }
                button {
                    padding: 10px 20px;
                    width: 200px;
                    margin: 5px 0;
                    border: #E2AB3F 2px solid;
                    border-radius: 5px;
                    background-color: transparent;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background:#E2AB3F;
                    }
                }
            }
        }
        img {
            transform: scale(.85);
        }
    }
}

#footer{
    margin-top: 200px;
    height: 1180px;
    background:url('../images/footer.png') no-repeat center center/cover;
    .container{
        width: 1100px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .footer__box{
        display: flex;
        justify-content: space-between;
        height: 800px;
        .footer__block{
            .footer__img{
                margin-top: 150px;
                z-index: 0;
            }
            .footer__h3{
                font-family: 'Balqis', sans-serif;
                color: #E2AB3F;
                font-size: 60px;
                margin: -480px 0px 0px 100px;
            }
            .icon__footer{
                display: inline-block;
                flex-direction: column;
                .fa-phone ,.fa-envelope {
                    margin: 10px 20px 0px 0px;
                    color: #E2AB3F;
                }
                .icons{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    height: 50px;
                    margin-left: 50px;

                }
                .footer__i{
                    font-family: 'Roboto Condensed', sans-serif;
                    margin-top: -10px;
                    font-size: 20px;
                    color:#000;
                }
            }
            .footer__icons{
                margin-top: 50px;
                margin-left: 108px;
                .fa-youtube,.fa-facebook ,.fa-instagram{
                    color: #E2AB3F;
                    padding: 0 10px;
                }
            }
        }
        .footer__h2{
            font-family: 'Balqis', sans-serif;
            margin-top: 270px;
            font-size: 76px;
            color: black;
            font-weight: 400;
        }
    }
}

#button__up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: .3s;
    color: black;
    opacity: 0;
    &:hover {
        transform: scale(1.1);
        color: #E2AB3F;
    }
}

.modal {
    display: none;
    background-color: #00000075;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    div {
        transform: scale(1.5);
        position: absolute;
        top: 300px;
        left: 34%;
        right: 34%;
        background-color: #fff;
        width: 400px;
        height: 230px;
        padding: 30px;
        text-align: center;
        border-radius: 15px;
        border: #E2AB3F solid 2px;
        box-shadow: 0 0 100px -10px #000;
        h2 {
            font-family: 'Balqis';
            font-size: 40px;
            color: #E2AB3F;
        }
        p {
            margin: 5px 0 15px;
            font-style: italic;
        }
        button {
            padding: 10px 30px;
            font-size: 20px;
            border: 2px solid #E2AB3F;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: #E2AB3F;
                color: white;
            }
        }
    }
}